<h4 align="center">{{ site.owner.name }}</h4>
<h4 align="center">{{ site.owner.namezh }}</h4>
<p align="center"><img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a></p>
<p>{{ site.owner.bio }}</p>
<p align="right"><small>---- from <i>Three Idiots</i></small></p>

{% if site.owner.position %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.position }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/119-user-tie.png"> Position</a>
</p>
<a align="right">{{ site.owner.position }}</a>
{% endif %}

{% if site.owner.affiliation %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.affiliation }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/004-office.png"> Affiliation</a>
</p>
<p align="right">{{ site.owner.affiliation }}</p>
{% endif %}

{% if site.owner.location %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.location }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/072-location.png"> Location</a>
</p>
<p align="right">{{ site.owner.location }}</p>
{% endif %}

{% if site.owner.phone %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.phone }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/067-phone.png"> Phone</a>
</p>
<p align="right">{{ site.owner.phone }}</p>
{% endif %}

{% if site.owner.email %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.email }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/388-mail.png"> Email</a>
</p>
<p align="right">{{ site.owner.email }}</p>
{% endif %}




{% if site.owner.twitter %}<p style="text-indent:0;"><a href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="icon-twitter"></i> Twitter</a></p>{% endif %}
{% if site.owner.facebook %}<p style="text-indent:0;"><a href="http://facebook.com/{{ site.owner.facebook }}" target="_blank"><i class="icon-facebook"></i> Facebook</a></p>{% endif %}
{% if site.owner.google_plus %}<p style="text-indent:0;"><a href="{{ site.owner.google_plus }}" target="_blank"><i class="icon-google-plus"></i> Google+</a></p>{% endif %}
{% if site.owner.linkedin %}<p style="text-indent:0;"><a href="http://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"><i class="icon-linkedin"></i> LinkedIn</a></p>{% endif %}
{% if site.owner.instagram %}<p style="text-indent:0;"><a href="http://instagram.com/{{ site.owner.instagram }}" target="_blank"><i class="icon-instagram"></i> Instagram</a></p>{% endif %}
{% if site.owner.github %}<p style="text-indent:0;"><a href="http://github.com/{{ site.owner.github }}" target="_blank"><i class="icon-github"></i> Github</a></p>{% endif %}
{% if site.owner.lastfm %}<p style="text-indent:0;"><a href="http://lastfm.com/{{ site.owner.lastfm }}" target="_blank"><i class="icon-lastfm"></i> Last.fm</a></p>{% endif %}
{% if site.owner.tumblr %}<p style="text-indent:0;"><a href="http://{{ site.owner.tumblr }}.tumblr.com" target="_blank"><i class="icon-tumblr"></i> Tumblr</a></p>{% endif %}
