<h4 align="center">{{ site.owner.name }}</h4>
<h4 align="center">{{ site.owner.namezh }}</h4>
<p align="center"><img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a></p>
<p>{{ site.owner.bio }}</p>
<p align="right"><small>---- from <i>Three Idiots</i></small></p>

{% if site.owner.position %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.position }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/119-user-tie.png"> Position</a>
</p>
<p align="right">{{ site.owner.position }}</p>
{% endif %}

{% if site.owner.affiliation %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.affiliation }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/004-office.png"> Affiliation</a>
</p>
<p align="right">{{ site.owner.affiliation }} </p>
{% endif %}

{% if site.owner.location %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.location }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/072-location.png"> Location</a>
</p>
<p align="right">{{ site.owner.location }}</p>
{% endif %}

{% if site.owner.phone %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.phone }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/067-phone.png"> Phone</a>
</p>
<p align="right">{{ site.owner.phone }}</p>
{% endif %}

{% if site.owner.email %}
<p style="text-indent:0;margin-top:1.5em;">
<a href="mailto:{{ site.owner.email }}" target="_blank">
<img src="{{ site.url }}/assets/icons/16px/388-mail.png"> Email</a>
</p>
<p align="right">{{ site.owner.email }}</p>
{% endif %}
